{% extends "layouts/base.html" %}

{% load static crispy_forms_tags %}
{% block title %}删除用户{% endblock %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    {% block fromdel %}
        <div class="card">
            <div class="card-header">
                <h5 class="m-b-10">
                <span>
                    <i class="feather icon-box">
                        <a href="{% url 'prlist' %}">
                            项目列表
                        </a>
                    </i>
                </span>
                </h5>
                <span>
                    <i class="fa fa-map-marker">
                        删除项目
                    </i>
                </span>
            </div>
            <div class="card-block table-bordered-style">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="alert alert-danger" role="alert">
                        <p>您确定要删除吗？【{{ object }}】</p>
                    </div>
                    <input type="submit" class="btn btn-primary" value="确定">
                    <button type="button" class="btn btn-secondary" data-dismiss="model"
                            onclick="window.location.href='{% url 'userlist' %}';">
                        取消
                    </button>
                </form>
            </div>
        </div>
    {% endblock fromdel %}
{% endblock content %}
{% block javascripts %}{% endblock javascripts %}