{% load static %}
<!-- Required Js -->

<script src="{% static 'assets/js/vendor-all.min.js' %}"></script>
<script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/pcoded.min.js' %}"></script>


# 单独提出来
{#<div class="layui-card" style="text-align: right">#}
{#    <div class="layui-card-header">#}
{#        寄语#}
{#    </div>#}
{#    <div class="layui-card-body" style="line-height:40px;">#}
{#        原想将澎湃的爱平平稳稳放置你手心，奈何我徒有一股蛮劲，只顾向你跑去，一个不稳跌的满身脏兮兮。试图爬起的我，#}
{#        心想你会不会笑我 " 献爱献的这样笨拙, 怎么不知避开爱里的埋伏 "#}
{#    </div>#}
{#</div>#}

{#<link rel="stylesheet" href="{% static 'component/pear/css/pear.css' %}"/>#}
{#<link rel="stylesheet" href="{% static 'admin/css/other/console1.css' %}"/>#}
{#<script src="{% static 'component/layui/layui.js' %}"></script>#}
{#<script src="{% static 'component/pear/pear.js' %}"></script>#}