{% load static %}
<!-- Required Js -->

<script src="{% static 'assets/js/vendor-all.min.js' %}"></script>
<script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/pcoded.min1.js' %}"></script>




{#<link rel="stylesheet" href="{% static 'component/pear/css/pear.css' %}"/>#}
{#<link rel="stylesheet" href="{% static 'admin/css/other/console1.css' %}"/>#}
{#<script src="{% static 'component/layui/layui.js' %}"></script>#}
{#<script src="{% static 'component/pear/pear.js' %}"></script>#}